<!DOCTYPE>
  <html>
    <head>
    <style>
  header {
    font-family: avenir;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    color: white;
  }

  footer {
    position: fixed;
    bottom: 0px;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    width: 100%;
    color: white;
  }

  body {
    background: url("https://c1.staticflickr.com/5/4338/36819065315_8b5f839880_b.jpg");
    background-size: cover;
    font-family: avenir;
  }

  nav {
    width: 100%;
    padding-top: 0px;
    padding-left: 0px;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgba(192,192, 192, 0.7);
  }

  h3:hover{
    color: blue;
  }


  #projects {
    display: grid;

  }
  h3 {
    text-align: right;
    width: 30px;
    position: relative;
    top: 3px;
  }
  hr {
    width: 400px;
  }
  div {
    width: 200px;
    height: 200px;
    /* background-color: black;
    border-type: solid; */
    border-radius: 40%


  }
  div:hover{
    transform:scale(1.1)
  }

    </style>
    </head>

        <!--Nav bar -->
          <nav>
              <h2><strong>Contents</strong></h2>
              <h3>Homepage</h3>
              <h3>Experience</h3>
              <h3>Projects</h3>
              <h3>Boston Life</h3>
              <h3>Chatting Him</h3>
          </nav>
          <br>
          <br>
        
        
          <header>
                  <h1>Yong Design</h1>
              <hr>
                  <h2><i>Growing in NYC & Boston University</i></h2>
              <hr>
    </header>
      
    <body>
            <!-- Skills Section -->
        <ul>
          <li>JavaScript/CSS/HTML</li>
          <li>Python/Haskell</li>
          <li>Java/C++</li>
        </ul>
            
            <!--Projects Section -->
            <div>
              <ul>
                <li>Github</li>
                <li>Linkedin</li>
                <li>Facebook</li>
              </ul>
            </div>
                
          
        <form>
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Email">
            <input type-="text" placeholder="Inquiry">
        </form>
    </body>
        <br>
        <br>
        
        <!-- Footer Section -->
    <footer>
      <h6>Copyright Yong@ 2018</h6>
    </footer>
  </html>